* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}
header {
    background-image: linear-gradient(to right, cyan, blue);
    padding-top: 120px;
    padding-bottom: 120px ;
}

.headertext {
    text-align: center;
    color: white;
}

article {
    margin-top: 60px;
    text-align: center;
}

section a {
    color: white;
}
footer {
    padding: 25px 25px 25px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, cyan, blue);
    color: white;
}
footer a {
    color: white;
}
